* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}
:root {
    --accentRed: #FF6464;
    --mainRed: #E94D4D;
    --white: #FFFFFF;
}
body {
    min-height: 100vh;
    width: 100vw;
}
main {
    padding: 0px 15px;
    background-color: pink;
}
header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainRed);
}
header h1 {
    font-size: 20px;
    color: var(--white);
}
header img {
    height: 75%;
}
.menuButtonHolder {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    padding: 2px;
    background-color: var(--accentRed);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#searchButton {
    margin-right: 20px;
    color: var(--white);
    height: 50%;
}

/* Featured Pokemon */
.featPokemon {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    padding: 10px;
    aspect-ratio: 1/1;
}
.numberStatus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.imageName {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.featImage {
    width: 60%;
    aspect-ratio: 1/1;
    background-color: palevioletred;
}




/* .pokemonThumbnail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: pink;
    padding: 10px;
}
.thumbnailType {
    display: flex;
    flex-direction: row;
}
.miniType {
    display: inline-block;
    padding: 3px 5px;
    background-color: lightblue;
    margin-right: 3px;
}
.thumbnailImage {
    background-color: white;
    width: 50%;
} */